<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Data from the DB</title>
  </head>
  <body>
    <table border="3">
      <tr>
        <th>First name</th>
        <th>Second name</th>
        <th>Age</th>
        <th>Is a student</th>
        <th>Mother tongue</th>
      </tr>
      <% for (let d of data) { %>
        <tr>
          <td><%= d.firstName %></td>
          <td><%= d.secondName %></td>
          <td><%= d.age %></td>
          <td><%= d.isStudent %></td>
          <td><%= d.motherTongue %></td>
        </tr>
      <% } %>
    </table>
  </body>
</html>
